
*{margin: 0; overflow: hidden;
box-sizing: border-box;}

body{ display: grid; 
grid-template-columns: 90px 1fr ;
height: 100vh;
}

a{text-decoration: none;}

#gran {display: grid;
    grid-template-rows:90px 1fr ;} 
    

    #un{background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }

 
.unsv{fill: white;
  
;}


    #que{
        display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap: 8%;
}

.quesv{fill: rgb(46, 46, 46);}



.bar{background-color: rgb(255, 255, 255);
height: 100vh;
width: 275px;
position: fixed;
top: 0;
left: -335px;
z-index: 1;
transition: 0.5s;
display: grid;
    grid-template-rows:90px 1fr ;
    
}

   #un2{background-color: #2916E0;
        display: flex;
        flex-direction: row;
gap: 15%;
      
    }

    .bea{height: 90px;
    width: 90px;
      display: flex; 
      position: relative;
background-color: rgb(0, 0, 0);
align-items: center;
justify-content: center;

}

.emi{display: flex; 
    justify-content: center;
align-items: center;}


.sub{z-index: 99; fill: rgb(255, 255, 255);
height: 35px;
width: 35px;    
}

.dof{height: 85%;
width: 90%;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
font-family: sans-serif;

}

.sib{line-height: 200%;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
}

.suba{color: #2916E0;}

.suba2{color: #8d8c8c; transition: 0.4s;}

.suba2:hover{color: #2916E0;}

.bach{height: 22%;
width: 100%;
position: absolute;
bottom: 0%;
display: flex
;
flex-direction: column;
gap: 5%;
}

.rin{
width: 100%;
height: 22%;
display: flex;
align-items: center;
justify-content: center;
gap: 13%;
fill: #8d8c8c;}

.sae{
    display: grid;
align-items: center;
justify-content: center;
width: 100%;
height: 40%;
font-size: 15px;
font-family: sans-serif;
color: #8d8c8c ;
}

#a{position: absolute;
    z-index: 99;
  top: 0;
  left: 0;
    height: 10vh;
    width: 10vh;
    opacity: 0;
}



#a:checked~.bar{left: 0;}

.maps{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background-color: white;
}

.jac{background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
align-items: end;
    height: 27vh;
    width: 70%;
bottom: 10%;
gap: 1%;
}

.kur{width: 50%;
height: 80%;
position: relative;
bottom: 0%;

display: flex;
flex-direction: column;
    justify-content: start;
align-items: center;

}

#rpg{font-size: 50px;  color:#2916E0;


}

.dim{font-size: 18px;
    font-family: sans-serif;
color: black;
display: flex;
display: row;
justify-content: center;
align-items: center;
width: 100%;
line-height: 150%;
position: relative;
bottom: -15%;

}

.roy{color: #8d8c8c;}